<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @email.user %>
</p>

<p>
  <strong>Adress:</strong>
  <%= @email.adress %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
